<h2>PeakCounter</h2>
<p>header works!</p>
<nav>
  <span *ngIf="loggedInUser" class="user-info">
    Hola, {{ loggedInUser }}.
  </span>
  <button *ngIf="loggedInUser" (click)="logout()">Cerrar Sesión</button>
</nav>

<header>
    <nav>
      <ul>
        <li><a routerLink="/peak1" (click)="onNavigate($event)">Peak 1</a></li>
        <li><a routerLink="/peak2"(click)="onNavigate($event)">Peak 2</a></li>
        <li><a routerLink="/peak3"(click)="onNavigate($event)">Peak 3</a></li>
      </ul>
    </nav>
</header>
<button routerLink="/register">Registrarse</button>
<button routerLink="/login">Iniciar Sesion</button>