
<h2>Picos de la Sierra de Madrid</h2>
<div class="page-container">
  <div class="form-container">
    <h3>Registrar una ascensión</h3>
  <form #climbForm="ngForm" (ngSubmit)="registerClimb(climbForm.value)">
    <div class="form-group">
      <label for="peak">Seleccionar Pico:</label>
      <select id="peak" name="peak" ngModel required>
      <option *ngFor="let peak of peaks" [value]="peak.id">{{ peak.name }}</option>
    </select>
  </div>

    <div class="form-group">
      <label for="date">Fecha de la Ascensión:</label>
      <input type="date" id="date" name="date" ngModel required />
    </div>

    <div class="form-group">
      <label for="altitude">Desnivel Acumulado (en metros):</label>
      <input type="number" id="altitude" name="altitude" ngModel required />
    </div>

    <div class="form-group">
      <label for="distance">Kilómetros Recorridos:</label>
      <input type="number" id="distance" name="distance" ngModel required />
    </div>
      <button type="submit" [disabled]="!climbForm.valid">Registrar Ascensión</button>
  </form>
</div>
  <div class="ul-container">
    <ul>
      <li *ngFor="let peak of peaks">
        <strong>{{ peak.name }}</strong> - Altitud: {{ peak.altitud }} metros
        <br> Total subidas: {{ peak.climbs }}
        <br> Última subida: {{ peak.lastClimb || 'Ninguna' }}
      </li>
    </ul>
  </div>
</div>
<p>peak1 works!</p>
